*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url('ba.jpg');
}
.container{
	max-width: 650px;
	padding: 28px;
	margin: 0 28px;
	box-shadow: 0 15px 25px #ABB289;
}
h2{
	font-weight: bold;
	font-size: 25px;
	text-align: left;
	color: #DAF7A6;
	padding-bottom: 10px;
	border-bottom: solid 1px silver;
}
.content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}
.input-box{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	padding-bottom: 15px;
}

.input-box label, gender{
	width: 90%;
	color: #DAF7A6;
	font-weight: bold;
	margin: 5px 0;
}
.gender{
	font-size: 16px;
}
.input-box input{
	height:40px;
	width: 95%;
	padding: 10px 0px 10px 20px;
	font-size: 15px;
	border-radius: 5px;
	outline: none;
	border: solid 1px #ccc;
}

.gender-option label{
	padding: 0 20px 0 5px;
	cursor: pointer;
}
.button{
	margin: 15px 0;

}
.button button{
	width: 100%;
	display: block;
	margin: 10px;
	padding: 10px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	color:#fff ;
	background: #2D45DD;
}
.button button:hover{
	cursor: pointer;
}